body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
    line-height: 1.6;
}

header {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 2em 0;
    position: relative;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    background-color: #495057;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1em;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #17a2b8;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    color: #343a40;
}

p {
    color: #6c757d;
}

.contact {
    text-align: center;
    margin-top: 2em;
}

.social-links {
    margin-top: 1em;
}

.social-links a {
    display: inline-block;
    margin: 0 1em;
    color: #495057;
    font-size: 1.5em;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover {
    color: #17a2b8;
}

.donate-btn {
    display: inline-block;
    background-color: #17a2b8;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1em;
    transition: background-color 0.3s ease-in-out;
}

.donate-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .profile-pic {
        width: 100px;
        height: 100px;
    }
}
